*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;

    
}
.logo{
    padding: 5px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.logo img{
    width: 50%;
    
    border:  1px solid black;
    border-radius: 50px;
    
}
.nav-list{
width: 70%;

display: flex;
justify-content: center;
align-items: center;
}

.nav-list li{
list-style: none;
padding: 25px 30px;

}

.nav-list li a{
   text-decoration: none; 
   color: white;
   font-weight: 700;
}

.nav-list li a:hover{
    color: grey;
}

.rightbar{
    
    width: 30%;
    text-align: right;
    padding: 0 23px;
}
.rightbar input{
    height: 50%;
    width: 50%;
}

#search{
    padding: 5px;
    font-size:  20px; 
    border: 2px solid grey;
    border-radius: 10px;
}

.bg{
    background: rgba(0,0,0,0.7) url('maksym-kaharlytskyi-kDVaFjoQf4M-unsplash.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection{
    height: 100vh;
}


.box-main{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.first{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:10%;
}

.second{
    width: 30%;
}

.second img{
    width: 40%;
    padding: 0px 0;
    border: 1px solid black;
    border-radius: 100px;
    display: block;
    margin: auto;

}

.text-big{
font-size: 50px;
font-weight: 1000;

}

.text-samll{
font-size: 25px;

}

.btn{
    padding: 8px 20px;
    border: solid 3px white;
    border-radius: 8px;
    margin: 7px 0;
    cursor: pointer;
    background: none;
    color: white;
    margin: 7px 3px;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: top;
    height: 30px ;
}

.secright{

display: flex;
align-items: center;
justify-content: space-evenly;
max-width: 80%;
margin: auto;
padding: 30px 0;
font-family: 'Times New Roman', Times, serif;
}

.paras{
    padding: 0 60px;
}
.thumb img{
    width: 90%;
    height: 70%;
    border: 2px solid black;
    border-radius: 20px;
}

.secleft{
   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    padding: 30px 0;
    flex-direction: row-reverse;
    font-family: 'Times New Roman', Times, serif;


    }
    .secleft img{
        width: 100%;
    }

    .sectag2{
        font-family: 'Times New Roman', Times, serif;
        row-gap: 10px;
        font-weight: 200;
        padding: 10px 10px;
         margin: 0px 0px;
        margin: auto;
        max-width: 80%;
    }
    .sectag{
        padding: 10px 10px;
        margin: 10px 0px;
        margin-left: 50px;
    }

.contact{
    background-color: rgb(33, 33, 43);
    height: 60vh;
    color: white;
    padding: 10px;
}

.text-center{
    text-align: center;
    padding: 10px;

}

.form{
    max-width: 40%;
    margin: auto;
}

.form input{
    margin: 9px 0;
    width: 100%;
    padding: 10px;
    border: solid black 3px;
    border-radius: 8px;
    font-weight: 400;
    text-align: center;
}

 .btn-dark{
    margin-left: 40%;
}


.text-footer{
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
   
    color: black;
}

.bug{
position:absolute;
cursor: pointer;
right: 5%;
top: 15px;
display: none;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}



@media only screen and (max-width:1000px){

    .nav-list{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
        transition: all 0.7s ease-out;
        height: 576px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .rightbar{
        text-align: center;
    }
    #search{
        width:100%
    }
    .bug{
        display: block;  
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .secright{

        flex-direction: column-reverse;
    }
    .text-big{
        text-align: center;

    }
    .text-samll{
        text-align: center;
    }
    .btn{
        text-align: center;
    }
    .secleft img{
        width: 250%;
    }
    .secright img{
        width: 40%;
        margin-left: 150px;
    }
}